html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	font-family: "Lato", sans-serif;
	color: #7e7e7e;
}

.fa {
	color: black;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	padding-top: 20px;
}

.icons {
	padding: 0 15px 0 3px;
	display: inline;
}

#icon-left {
	margin-left: 15px;
}

#icon-right {
	padding: 0 6px 0 3px;
	display: inline;
}

.launches {
	margin-bottom: 30px;
}

#profile-pic {
	margin-top: 20px;
}

.project-title {
	margin-top: 26px;
	margin-bottom: 40px;
}

#social {
	margin-top: 5px;
	padding-right: 0;
}

#title {
	text-align: center;
	font-weight: 300;
}

#zepp-title {
	margin-top: 0;
}

@media screen and (max-width: 992px) {
	.project-image {
		width: 100%;
	}
	
	.project-title {
		margin-top: 8px;
	}
}