html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	font-family: "Lato", sans-serif;
	color: #7e7e7e;
}

.fa {
	color: black;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	padding-top: 20px;
}

.icons {
	padding: 0 15px 0 3px;
	display: inline;
}

#icons-right {
	padding: 0 6px 0 3px;
	display: inline;
}

#social {
	margin-top: 5px;
	padding-right: 0px;
}

#zepp-title {
	margin-top: 0;
}

.project-title {
	margin-top: 26px;
	margin-bottom: 40px;
}

#title {
	text-align: center;
	font-weight: 300;
}

#profile-pic {
	margin-top: 20px;
}

#wrap {
	padding-top: 60px;
}

.thumb img {
	-webkit-transition: all 0.3s ease; /* Safari and Chrome */
	-moz-transition: all 0.3s ease; /* Firefox */
	-ms-transition: all 0.3s ease; /* IE 9 */
	-o-transition: all 0.3s ease; /* Opera */
	transition: all 0.3s ease;
}

.thumb:hover img {
	-webkit-transform:scale(1.4); /* Safari and Chrome */
	-moz-transform:scale(1.4); /* Firefox */
	-ms-transform:scale(1.4); /* IE 9 */
	-o-transform:scale(1.4); /* Opera */
	transform:scale(1.4);
}

.launches {
	margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
	.project-image {
		width: 100%;
	}
	
	.project-title {
		margin-top: 8px;
	}
}